<div class="container">
  
  <div class="d-flex mt-5">
    <%= image_tag @item.image, size: "280x200" %>
  
    <div class="ml-5">
      <h4 style="font-weight: bold;"><%= @item.name %></h4>
      
      <p class="mt-3"><%= @item.introduction %></p>
      
      <div class="d-flex mt-5">
        <h4>¥<%= @item.add_tax_price.to_s(:dalimited) %></h4>
        <p>(税込)</p>
        
      <div class="mt-4">
        <%= form_with model:@item do |f| %>
          <%= f.hidden_field :cart_item, :value => "amount" %>
          <%= f.select :amount, *[1..10] %>
        <% end %>
        
        <%= link_to "カートに入れる", root_path, class:"btn btn-success mt-4" %>
      </div>
      </div>
    </div>
  <div>
</div>