<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="flex-culumn vh-100">
    <header>
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="">LOGO</a>
          
            <% if customer_signed_in? %>
            <% else %>
            <% end %>
        </div>
      </nav>
    </header>
    
    <%= yield %>
    <footer></footer>
  </body>
</html>